.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(145, 167, 186, 0.7), rgba(90, 126, 157, 0.7)), url("../../images/hero.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}